@model IEnumerable<ProductViewModel>

@{
    int listLength = Model.Count();
}

<head>
    <link rel="stylesheet" href="/css/common.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/employee_common.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/inventory.css" asp-append-version="true">
</head>

<div>
    <div class="text-center">
        <h1>Inventory Details</h1>
    </div>
    <div class="container">
        @for (int i = 0; i < (double)Math.Ceiling(listLength / 4.0); i++)
        {
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-3 item-card">
                        <div class="data-container">
                            <p>Name: @item.Name</p>
                            <p>Description: @item.Description</p>
                            <p>Price: @item.Price</p>
                            <p>Qty: @item.Quantity</p>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
@if (TempData["Message"] != null)
{
    <script>
        alert('@TempData["Message"]');
        @{
            TempData["Message"] = null;
        }
    </script>
}