@{
    var items = ViewBag.items;
    bool lowStock = false;
    int listLength = items.Capacity;
    for (int i = 0; i < listLength - 1; i++) {
        if (items[i].Quantity < 10) lowStock = true;
    }
}

<head>
    <link rel="stylesheet" href="/css/common.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/employee_common.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/supplies.css" asp-append-version="true">
</head>

<div>
    <div class="text-center">
        <h1>Order New Supplies</h1>
    </div>
    <div class="text-center"><input id="search" placeholder="Search..."></div>
    @{
        if (lowStock) {
            <div class="popup container text-center">
                <h2>The following items are low on stock:</h2>
                @{
                    for (int i = 0; i < listLength - 1; i++) {
                        if (items[i].Quantity < 10) {
                            <div class="row">
                                <div class="col-12">
                                    @items[i].Name
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        }
    }
    <div class="container">
        @{
            for (int i = 0; i < (double) Math.Ceiling(listLength / 4.0); i++) {
                <div class="row">
                    @{
                        for (int j = 0; j < Math.Min(4, listLength - 1); j++) {
                            <div class="col-3 item-card gray">
                                <p>Name: @items[j].Name</p>
                                <p>Description: @items[j].Description</p>
                                <p>Current Qty: @items[j].Quantity</p>
                                <p>Sale Price: @items[j].Price</p>
                                @{
                                    if (items[j].IsInStock) {
                                        <p>In Stock</p>
                                    } else {
                                        <p>Out of Stock</p>
                                    }
                                }
                            </div>
                        }
                    }
                </div>
            }
        }   
    </div>
</div>