@model MyCraft_Inventory.Models.OrderItemsCompositeModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order an Item</title>
    <link rel="stylesheet" href="/css/orderItems.css" asp-append-version="true">
</head>
<body>
    @* <header>
        <nav>
            <a href="/">MyCraft_Inventory</a> |
            <a href="/Home/Privacy">Privacy</a>
        </nav>
    </header> *@

    <div class="main-content">
        <h1 class="page-title">Order an Item</h1>
        <div class="stock-section">
            <h2>In Stock</h2>
            <div class="items-container">
                @foreach (var item in Model.MainPageModel.Where(p => p.IsInStock)) {
                    <div class="item-card">
                        <div class="card-container">
                        <strong>@item.Name</strong><br>
                        <span>Available Qty: @item.Quantity</span><br>
                        <span class="item-desc"><em>@item.Description</em></span>
                        @using (Html.BeginForm("OrderItems", "Inventory", FormMethod.Post)) {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.TextBox("Quantity", null, new { @type="number", @class="form-control", @placeholder="Enter quantity", @min=0, @max=item.Quantity})
                            @Html.ValidationMessageFor(m => m.CartModel.Quantity, "", new { @class="text-danger" })
                            @Html.Hidden("Name", item.Name)
                            @Html.Hidden("Description", item.Description)
                            @Html.Hidden("Price", item.Price)
                            <button type="submit">Add to Order</button>
                        }
                    </div>
                </div> 
            }
        </div>

        <div class="stock-section">
            <h2>Out of Stock</h2>
            <div class="items-container">
                @foreach (var item in Model.MainPageModel.Where(p => !p.IsInStock))
                {
                    <div class="item-card">
                        <strong>@item.Name</strong><br>
                        <span>Available Qty: @item.Quantity</span><br>
                        <span class="item-desc"><em>@item.Description</em></span>
                    </div>
                }
            </div>
        </div>
    </div>

    @* <footer>
        <p>&copy; 2024 - MyCraft_Inventory - <a href="/Home/Privacy">Privacy</a></p>
    </footer> *@
</body>
</html>
@if (TempData["Message"] != null)
{
    <script>
        alert('@TempData["Message"]');
        @{TempData["Message"] = null;}
    </script>
}